.radial-chart{
    // position: relative;
    // top: -255px;
    // left: 781px;
    width: 258px;
    height: 263px;
    background: #FBFBFB;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
border-radius: 5px;
}