.simple-chart{
    position: relative;
    top: 270px;
    background-color: red;
    width: 258px;
    height: 263px;
    left: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
border-radius: 5px;
}